<%= bootstrap_form_for(@review) do |f| %>

  <div class="field">
    
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.select :score, options_for_select(0..10) %>
  </div>

  <div id="contentField" class="field">
    <%= f.text_area :content, size: "30x35" %>
  </div>
  
  <%= f.hidden_field :game_id, value: @game.id %>

  
  <div class="actions">
    <%= f.submit :id => "createReview"%>
  </div>
<% end %>
