<!DOCTYPE html>
<html>
<head>
  <title>Gamerater</title>
  
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
 

<div id="sidebar-wrapper">
  <!--I have to override the get method in turbolinks so that my javascript works properly -->
  <ul class="sidebar-nav" id="sidebar">
    <li><%= link_to 'Games', games_path, method: :get%></li>
    <li><%= link_to 'Publishers', publishers_path, method: :get %></li>
    <%if current_user && current_user.isAdmin %>
      <li><%= link_to 'Platforms', platforms_path, method: :get%></li>
    <% end %>
    <li><%= link_to 'Reviews', reviews_path, method: :get%></li>

    <%if current_user.nil?%>
    <li><%= link_to 'Sign in', '/signin', method: :get%></li>
    <li><%= link_to 'Sign up', '/signup', method: :get%></li>
   <% else %> 
     <li><%= link_to 'Sign out', '/signout', method: :get%></li>
  <% end %>   
  </ul>
</div>
<div id="content-wrapper">
  
      <%= yield %>
     
</div>  

</body>
</html>
